$og: #ef5100;
$gold: rgb(179,138,0);
// rgb(239,81,0)
$head: "brandon-grotesque";
$copy: "freight-text-pro";

body {
	background-color: white;
	width: 100vw;
	height: auto;
	min-height: 100vh;
	margin: 0;
	font-family: $head;
	font-weight: light;
	// background: url(../assets/bg.jpg);
	background-size: cover;
	background-position: center center;
}

nav {
	position: fixed;
	z-index: 1000;
	width: 100vw;
	top: 0;
	transition: .5s;
	border-bottom: white solid 0px;

	#nav-icon {
		height: 2em;
		padding: 0.5em 1em;
	}

	.nav-link {
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		padding: 1em 0;
		cursor: pointer;
		font-family: $head;
		font-weight: bold;
		transition: .5s;
		font-size: .75em;

		&:hover {
			color: $og;
		}
	}

	&.scrolled {
		background-color: rgba(255,255,255,.75);
		border-bottom: white solid 1px;
	}
}

.events-container {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.event {
	position: relative;
	cursor: pointer;
	width: 90vw;
	height: 45vw;
	background-size: cover !important;
	background-position: center center !important;
	padding: .5em 2em;
	margin: 1em auto;
	max-width: 30em;
	max-height: 15em;
	// border: 2px solid $gold;
	box-shadow: .15em .15em .15em 0px rgba(0, 0, 0, 0.15);
	text-align: left;
	text-transform: capitalize;
	color: rgba(0,0,0,.5);
	transition: 1s;

	h3 {
		margin: .5em 0;
		color: rgba(0,0,0,.9);
		text-transform: uppercase;
		font-size: 1em;
		letter-spacing: 0.075em;
	}
	
	p {
		font-family: $copy;
		line-height: 0;
		margin: 1em 0 .75em;
	}

	.event-location {
		position: absolute;
		font-family: $head;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		color: rgba(0,0,0,.9);
		font-size: .75em;
		top: 0;
		left: 0;
		height: 2em;
		background-color: rgba(255,255,255,.9);

		#event-icon {
			display: inline-block;
			position: absolute;
			height: 1em;
			padding: 0.5em;
			padding-right: 0;
		}

		h5 {
			display: inline-block;
			padding: 0.5em 1em;
			margin: 0 0 0 .75em;
			line-height: 2em;
		}
	}

	.event-info {
		position: absolute;
		bottom: 0;
		left: 0;
		margin-right: auto;
		width: auto;
		padding: 0 1em;
		background-color: rgba(255,255,255,.9);
		transition: 1s;
	}
}



.form {
	background-color: none;
	padding: 0.5em;
	width: 100%;
	max-width: 30em;
	margin: 0em auto;

	label {
		display: block;
		margin: 1em auto 2em;
		width: 100%;
		color: rgba(0,0,0,.66);
		font-weight: bold;
		font-size: .75em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		transition: 1s;

		input {
			width: 100%;
			padding: 0.75em 0 0.25em;
			border: none;
			background-color: rgba(0,0,0,0);
			font-size: 1.5em;
			font-weight: bold;
			color: rgba(0,0,0,1);
			font-family: $copy;

			&:focus{
				outline: none!important;
				border-bottom: rgba(239,81,0,.66) solid 1px;
			}

			&:-webkit-autofill {
			    -webkit-box-shadow: 0 0 0px 1000px white inset;
			}
		}

		::-webkit-input-placeholder {
		   font-family: $copy;
		   font-weight: bold;
		   letter-spacing: 0.05em;
		   color: rgba(0,0,0,.3);
		}

		:-moz-placeholder { /* Firefox 18- */
		   font-family: $copy;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   font-family: $copy; 
		}

		:-ms-input-placeholder {  
		   font-family: $copy;
		}

		span {
			color: black;
		}			
	}

	#submit-btn {
		background-color: rgba(0,0,0,0);
		height: 2.5em;
		line-height: 2.5em;
		width: 66%;
		margin: 2em 17%;
		padding: 0;
		font-family: $head;
		font-weight: bold;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-family: $copy;	
		transition: 1s;	
		color: rgba(0,0,0,.3);

		&.disabled {
			border: solid 2px rgba(255,255,255,.33);
			cursor: not-allowed;
			color: rgba(0,0,0,.3);
		}

		&.active {
			border: solid 2px $gold;
			cursor: pointer;
			color: rgba(0,0,0,1);

			&:hover {
				color:  $og;
			}
		}
	}

}

#submit-overlay {
	position: fixed;
	top: 0;
	display: none;
	background-image: url(https://lunkiandsika.files.wordpress.com/2010/01/where_the_wild_things_are-2.jpg);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	text-align: center;
	
	h1 {
		font-size: 5em;
		color: $gold;
		width: 100%;
		margin-top: 2em;
		text-align: center;
	}

	#submit-btn {
		background-color: rgba(0,0,0,1);
		height: 2.5em;
		line-height: 2.5em;
		width: 20em;
		padding: 0;
		font-family: $head;
		font-weight: bold;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 0.25em;
		font-family: $copy;	
		transition: 1s;	
		color: rgba(0,0,0,.3);
		border: $gold solid 2px;

		a {
			text-decoration: none;
			color: $gold;
		}
	}	
}

@media(min-width: 768px) {
	.form {
		label {
			input {
				display: inline-block;
				width: 66%;
				margin-left: 1em;
			}			
		}
	}		
}

@media(min-width: 1000px) {
	.event {
		width: 33%;
		height: 15vw;
		margin: .5em;
		display: inline-block;
	}
}	