$og: #ef5100;
// rgb(239,81,0)
$head: "alternate-gothic-no-3-d";
$copy: "Cardo";

body {
	background-color: white;
	width: 100vw;
	height: 100%;
	margin: 0;
	font-family: $head;
	font-weight: light;
	background: url(../assets/bg.jpg);
	background-size: cover;
	background-position: center center;
}

nav {
	position: fixed;
	z-index: 1000;
	width: 100vw;
	top: 0;
	transition: .5s;
	border-bottom: rgba(255,255,255,.3) solid 0px;

	#nav-icon {
		height: 2em;
		padding: 0.5em 1em;
	}

	.nav-link {
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		padding: 1em 0;
		cursor: pointer;
		font-family: $head;
	}

	&.scrolled {
		background-color: rgba(255,255,255,.3);
		border-bottom: rgba(255,255,255,.3) solid 1px;
	}
}

.event {
	position: relative;
	width: 90vw;
	height: 45vw;
	background-size: cover;
	background-image: url(http://lorempixel.com/800/400);
	padding: .5em 2em;
	margin: 1em auto;
	max-width: 30em;
	max-height: 15em;

	.event-info {
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 2em);
		padding: 0 1em;
		background-color: rgba(255,255,255,.3);
	}
}



.form {
	background-color: none;
	padding: 0.5em;
	width: 100%;
	max-width: 30em;
	margin: 0em auto;

	label {
		display: block;
		margin: 1em auto 2em;
		width: 100%;
		color: $og;
		font-size: .75em;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		transition: 1s;

		input {
			width: 100%;
			padding: 0.75em 0 0.25em;
			border: none;
			background-color: rgba(0,0,0,0);
			font-size: 1.5em;
			color: white;
			font-family: $copy;

			&:focus{
				outline: none!important;
				border-bottom: rgba(239,81,0,.66) solid 2px;
			}

			&:-webkit-autofill {
			    -webkit-box-shadow: 0 0 0px 1000px white inset;
			}
		}

		::-webkit-input-placeholder {
		   font-family: $copy;
		   color: white;
		}

		:-moz-placeholder { /* Firefox 18- */
		   font-family: $copy;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   font-family: $copy; 
		}

		:-ms-input-placeholder {  
		   font-family: $copy;
		}

		span {
			color: black;
		}			
	}

	#submit-btn {
		background-color: rgba(0,0,0,0);
		height: 2.5em;
		line-height: 2.5em;
		width: 66%;
		margin: 2em 17%;
		padding: 0;
		font-family: $head;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		font-family: $copy;	
		transition: 1s;	
		color: $og;

		&.disabled {
			border: solid 2px rgba(255,255,255,.33);
			cursor: not-allowed;
		}

		&.active {
			border: solid 2px $og;
			cursor: pointer;

			&:hover {
				color: white;
				background-color: $og;
			}
		}
	}

}

@media(min-width: 768px) {
	.form {
		label {
			input {
				display: inline-block;
				width: 75%;
				margin-left: 1em;
			}			
		}
	}		
}